body{
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: rgb(64, 76, 99);
}
p{
    font-size: 18px;
    
}
.haber{
    background-color: #ffffff;
    padding: 15px;
    margin: 20px;
    border: solid #ccc;
    border-radius: 6px;

}
.h2{
    color: darkred;
    font-size: 22px;

}
.haber p{
    color: #333;
    font-size: 16px;

}
.tarih{
    color: rgb(15, 6, 6);
    font-size: 12px;
}
header{
    background-color: rgb(196, 203, 203);
    color: white;
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 4px 8px rgb(0,0,0.3);
    border-bottom: 5px solid #ff3c3c;
}
header h1{
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px black;
}
.slogan{
    font-style: italic;
    font-size: 16px;
    color: #163cae;
}
.menu{
    text-align: center;
    margin-top: 20px;
    background-color: #2c3e50;
    padding: 10px;
}
.menu-item{
    display: inline-block;
color: white;
background-color: #2980b9;
padding: 10px 20px;
margin: 5px;
border-radius: 4px;
font-weight: bold;
cursor: pointer;


}

.haber-kutu{
    width: 70%;
    margin: 20px auto;
    background-color: #e0ffe0;
    color: rgb(146, 133, 204);
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0,0,0,0,2);
    display: flow-root;
 

}
/*her haber için özel görünüm*/
.haber-yazılım{
    background-color: #e5e3e8;
    border: 1px solid #e6b800;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 8px color rgb(140, 140, 193);
    display: flow-root;
}
.haber-bayram{
    background-color: #e5e3e8;
    border: 1px solid #7dd;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 8px color rgb(156, 181, 156);

}
.haber-istanbul{
    background-color: #ffe6e6;
    border: 2px solid rgb(232, 14, 14);
        padding: 20px;
    margin: 20px auto;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 8px color rgb(159, 109, 109);
}
.haber-saç{
     background-color:#ffe6e6;
    border: 2px solid rgb(216, 14, 14);
        padding: 20px;
    margin: 20px auto;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 8px color rgb(159, 109, 109);
} 
* {
    box-sizing: border-box;
}

.banner{
    width: 100%;
      max-width: 600px; /*WEB için genişliği sınırla*/
    margin:40px auto;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 5px #dfe5e8;
    border-bottom: 2px solid #583f3f;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #f6f6f6;
    color:rgb(117, 60, 60)
    
    
 
}
.banner img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;

}
.banner h2{
    margin-top: 20px;
     font-size: 22px;
   color: #a50505;
   margin-bottom: 10px;
}
.banner p{
    font-size: 18px;
    color: #394749;
}
/*bütün haber kutularında geçerli geçiş efekti*/
.haber-kutu{
    background-color: white;
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
 
 
}
/*üzerine gelindiğinde*/
.haber-kutu:hover{
    background-color: #f9f9f9;
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0,0,0,0,2);
    
   
}
.kategori{
    display: inline-block;
    background-color: #003366;
    color: white;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 10px;
}
/*ya da 90%,80% gibi daha küçük bir değer*/
.haber-img{
    width: 100%;
    max-width: 400px;
    height: auto;
   display: block;
    margin: 10px auto;
    border-radius: 8px;
    object-fit: cover;
    

}
 a:hover{
    background-color: rgb(78, 73, 227);
    color: rgba(199, 216, 241, 0.649);
    padding: 10px;
    border-radius: 5px;
}

    
   
 
